<!DOCTYPE html>
<html lang="en">
<body>

  <div class="main-content">
    <div class="inner-banner d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row">
           <div class="col-lg-12">
              <div class="banner-inner-text">
                <h3>The blockchain-based marketplace for digital content</h3>
                <p>Buy and Sell Bitcoins & other blockchain assets with Crypto Wallet</p>
             </div>
           </div>
        </div>
      </div>
    </div>
    <div class="inner-content-mainblock">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="inner-content-block-s p0">
              <div class="staticcontent-block">
                <h2 class="about_sec_head font-24 mb0">Buy</h2>
                <p class="common-paragraph">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text.
                </p>
                <form class="main-form p0">
                  <div class="row">
                    <div class="form-group mb0" style="flex:1;">
                      <div class="col-md-12">
                        <select class="form-control select-custome3 ht-40">
                          <option selected>Token</option>
                          <option>Option 1</option>
                          <option>Option 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="arrowImg">
                      <img src="/assets/arrow-convert.png">
                    </div>
                    <div class="form-group mb0" style="flex:1;">
                      <div class="col-md-12">
                        <select class="form-control select-custome3 ht-40">
                          <option selected>Token</option>
                          <option>Option 1</option>
                          <option>Option 2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row mb0">
                    <div class="col-md-12 text-center">
                      <h4 class="tokanVal">1 Token A= 2.4 Tokens B</h4>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12 text-center">
                      <button class="btn btn-login max-WT-400">Continue Purchase</button>
                    </div>
                  </div>
                </form>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Login Signup -->
  <div class="modal fade common-modal" id="loginModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-767" role="document">
      <div class="modal-content">
        <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
        <div class="modal-body custome-modla-body min-ht-450 d-flex align-items-center">
          <div class="form-block p0 mb0">
            <h3 class="modal_form_heading">Sign In to your account</h3>
            <form class="main-form max-WT-480 pb0">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email ID">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label class="checkbox-design">
                    <input type="checkbox" name="">
                    <span></span>Remember me
                  </label>
                </div>
                <div class="col-lg-6 text-right">
                  <a href="#forgotPassword" class="forgot-pass"  data-dismiss="modal" data-toggle="modal">forgot Password?</a>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#LoginValModal">Login</button>
                </div>
              </div>
              
              <div class="form-group row mb0">
                <div class="col-md-12">
                  <div class="dont-account">
                    <p>Don’t have account yet? <a href="#signupmodal" class="link-signup" data-toggle="modal" data-dismiss="modal">Create New Account</a></p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- login-validation -->
  <div class="modal fade common-modal" id="LoginValModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-767" role="document">
      <div class="modal-content">
        <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
        <div class="modal-body custome-modla-body min-ht-450 d-flex align-items-center">
          <div class="form-block p0 mb0">
            <h3 class="modal_form_heading">Sign In to your account</h3>
            <form class="main-form max-WT-480 pb0">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control error-field" placeholder="Email ID">
                  <span class="error-msg">Please enter a valid email address</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label class="checkbox-design">
                    <input type="checkbox" name="">
                    <span></span>Remember me
                  </label>
                </div>
                <div class="col-lg-6 text-right">
                  <a href="#forgotPassword" class="forgot-pass"  data-dismiss="modal" data-toggle="modal">forgot Password?</a>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#LoginValModal">Login</button>
                </div>
              </div>
              
              <div class="form-group row mb0">
                <div class="col-md-12">
                  <div class="dont-account">
                    <p>Don’t have account yet? <a href="#signupmodal" class="link-signup" data-toggle="modal" data-dismiss="modal">Create New Account</a></p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- signup-modal -->
  <div class="modal fade common-modal" id="signupmodal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-767" role="document">
      <div class="modal-content">
        <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
        <div class="modal-body custome-modla-body min-ht-450 d-flex align-items-center">
          <div class="form-block p0 mb0">
            <h3 class="modal_form_heading">Register Now</h3>
            <form class="main-form max-WT-480 pb0">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group row number-block">
                <div class="col-md-12 d-flex">
                  <div class="country-code">
                    <select class="form-control select_style2">
                     <option selected>+91</option>
                     <option >+123</option>
                     <option>+212</option>
                   </select>
                  </div>
                  <input type="password" class="form-control" placeholder="Mobile No.">
                </div>
              </div>
             <div class="form-group row">
                <div class="col-md-12">
                  <select class="form-control select_style2">
                     <option selected>Country Name</option>
                     <option >Indai</option>
                     <option>Country Name</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Country Code">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <label class="checkbox-design">
                    <input type="checkbox" name="">
                    <span></span>I have read the <a class="terms-anchor" href="terms.html">Terms and Conditions</a>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#signupValModal">Sign Up</button>
                </div>
              </div>
              
              <div class="form-group row mb0">
                <div class="col-md-12">
                  <div class="dont-account">
                    <p>Already have an account? <a href="#loginModal" class="link-signup" data-toggle="modal" data-dismiss="modal">Sign In</a></p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- signupval-modal -->
  <div class="modal fade common-modal" id="signupValModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-767" role="document">
      <div class="modal-content">
        <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
        <div class="modal-body custome-modla-body min-ht-450 d-flex align-items-center">
          <div class="form-block p0 mb0">
            <h3 class="modal_form_heading">Register Now</h3>
            <form class="main-form max-WT-480 pb0">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="form-group row ">
                <div class="col-md-12">
                  <input type="password" class="form-control error-field" placeholder="Email">
                  <span class="error-msg">Please enter a valid email address</span>
                </div>
              </div>
              <div class="form-group row number-block">
                <div class="col-md-12 d-flex">
                  <div class="country-code">
                    <select class="form-control select_style2">
                     <option selected>+91</option>
                     <option >+123</option>
                     <option>+212</option>
                   </select>
                  </div>
                  <input type="password" class="form-control" placeholder="Mobile No.">
                </div>
              </div>
             <div class="form-group row">
                <div class="col-md-12">
                  <select class="form-control select_style2">
                     <option selected>Country Name</option>
                     <option >Indai</option>
                     <option>Country Name</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" placeholder="Country Code">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <label class="checkbox-design">
                    <input type="checkbox" name="">
                    <span></span>I have read the <a class="terms-anchor" href="terms.html">Terms and Conditions</a>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#signupValModal">Sign Up</button>
                </div>
              </div>
              
              <div class="form-group row mb0">
                <div class="col-md-12">
                  <div class="dont-account">
                    <p>Already have an account? <a href="javascript:;" class="link-signup" id="showSignup">Sign In</a></p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- forgot-password -->
  <div class="modal fade common-modal" id="forgotPassword" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-767" role="document">
      <div class="modal-content">
          <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
         <div class="modal-body custome-modla-body min-ht-450 d-flex align-items-center">
          <div class="form-block p0 mb0 text-center">
             <img src="/assets/lock-img.png" class="forgot-img" alt="">
            <form class="main-form max-WT-480 pb0 ">
              <h3 class="modal_form_heading grey-text">Forgot Password?</h3>
              <p class="mb40 modal-text mt5">Don’t worry about  your password .Please enter your registered mobile number. We will send you code to rest it.</p>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Enter your register emaill id">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#forgotValModal">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- forgot-password-validation --> 
  <div class="modal fade common-modal" id="forgotValModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-767" role="document">
      <div class="modal-content">
          <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
         <div class="modal-body custome-modla-body min-ht-450 d-flex align-items-center">
          <div class="form-block p0 mb0 text-center">
             <img src="/assets/lock-img.png" class="forgot-img" alt="">
            <form class="main-form max-WT-480 pb0 text-left">
              <h3 class="modal_form_heading grey-text">Forgot Password?</h3>
              <p class="mb40 modal-text mt5">Don’t worry about  your password .Please enter your registered mobile number. We will send you code to rest it.</p>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control error-field" placeholder="Enter your register emaill id">
                  <span class="error-msg">Please enter a valid email address</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#forgotValModal">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Change-password -->
  <div class="modal fade common-modal" id="changePassword" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered max-WT-600" role="document">
      <div class="modal-content">
          <button type="button" class="close modal-cross" data-dismiss="modal" aria-label="Close">
          <img src="/assets/cross-icon.png" alt="Cross">
        </button>
         <div class="modal-body custome-modla-body min-ht-300 d-flex align-items-center">
          <div class="form-block p0 mb0 text-center">
            <h3 class="modal_form_heading">Change Password</h3>
            <form class="main-form max-WT-480 pb0">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Old Password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="New Password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-block btn-login btn-orrange" data-dismiss="modal" data-toggle="modal" data-target="#forgotValModal">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--logout-->
  <div class="modal fade common-modal" id="logoutModal">
    <div class="modal-dialog max-WT-500">
      <div class="modal-content">
        <div class="modal-body  text-center">
          <div class="row align-items-center modal_flax_height2">
            <div class="col">
              <div class="modal-inner-content">
                <div class="main-form text-center no-bg">
                  <img src="/assets/logout-icon.png" class="wt-30" alt="">
                  <p class="logout-text mt40">Are you sure you want to Logout ?</p>
                  <div class="button-block mt30">
                    <div class="text-center modal-button">
                      <a class="btn btn-common grey max-WT-120 mr5 yes"  >Yes</a>
                      <a class="btn btn-common blue max-WT-120" href="javascript:void(0);" data-dismiss="modal">No</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</body>
</html>

<script type="text/javascript">

     $(document).on('click','.yes',function(){
     window.location.href = "/sessions/logout"

     });
</script>