<!DOCTYPE html>
<html lang="en">

<body>

    <div class="main-content">
        <div class="inner-banner d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-inner-text">
                            <h3>The blockchain-based marketplace for digital content</h3>
                            <p>Buy and Sell Bitcoins & other blockchain assets with Crypto Wallet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-content-mainblock">
            <div class="container-common max-WT-991">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content-block-s p0">
                            <div class="staticcontent-block">
                                <h2 class="about_sec_head m-0">Transaction History</h2>
                                <p class="common-paragraph">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text.</p>
                                <div class="transcation_status d-flex flex-wrap justify-content-between">
                                    <div class="trans_details border p-3 rounded d-inline-flex align-items-center justify-content-center">
                                        <div class="w-100 text-center">
                                            <p>Total token purchase</p>
                                            <div class="tr_number font-weight-bold">150</div>
                                        </div>
                                    </div>
                                    <div class="trans_details border p-3 rounded d-inline-flex align-items-center justify-content-center">
                                        <div class="w-100 text-center">
                                            <p>Total no. of transaction(including ETH)</p>
                                            <div class="tr_number font-weight-bold">150 ETHERIUM</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="history_form bg-gray d-flex justify-content-center p-3 mt-3">
                                    <form class="form-inline m-0">
                                        <label>Filter By</label>
                                        <div class="m-2">
                                            <select class="form-control select-custome3 ht-40 bg-white">
                                                <option selected="">Select Token</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                        <div class="m-2">
                                            <select class="form-control select-custome3 ht-40 bg-white">
                                                <option selected="">Transaction Type</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                        <div class="m-2">
                                            <input type="text" class="form-control bg-white rounded calender" placeholder="Search By Date">
                                        </div>
                                        <div class="m-2">
                                            <button type="submit" class="btn btn-common blue font-14 max-WT-100">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="history_table mt-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="theme-thead-dark">
                                                <tr>
                                                    <th>Transaction ID</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Token Details</th>
                                                    <th>Update Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>123124323423424</td>
                                                    <td>12/07/208</td>
                                                    <td>03:12:45</td>
                                                    <td>Token A</td>
                                                    <td>56 Token A</td>
                                                </tr>
                                                <tr>
                                                    <td>123124323423424</td>
                                                    <td>12/07/208</td>
                                                    <td>03:12:45</td>
                                                    <td>Token A</td>
                                                    <td>56 Token A</td>
                                                </tr>
                                                <tr>
                                                    <td>123124323423424</td>
                                                    <td>12/07/208</td>
                                                    <td>03:12:45</td>
                                                    <td>Token A</td>
                                                    <td>56 Token A</td>
                                                </tr>
                                                <tr>
                                                    <td>123124323423424</td>
                                                    <td>12/07/208</td>
                                                    <td>03:12:45</td>
                                                    <td>Token A</td>
                                                    <td>56 Token A</td>
                                                </tr>
                                                <tr>
                                                    <td>123124323423424</td>
                                                    <td>12/07/208</td>
                                                    <td>03:12:45</td>
                                                    <td>Token A</td>
                                                    <td>56 Token A</td>
                                                </tr>
                                                <tr>
                                                    <td>123124323423424</td>
                                                    <td>12/07/208</td>
                                                    <td>03:12:45</td>
                                                    <td>Token A</td>
                                                    <td>56 Token A</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

      <!--logout-->
 <div class="modal fade common-modal" id="logoutModal">
    <div class="modal-dialog max-WT-500">
      <div class="modal-content">
        <div class="modal-body  text-center">
          <div class="row align-items-center modal_flax_height2">
            <div class="col">
              <div class="modal-inner-content">
                <div class="main-form text-center no-bg">
                  <img src="/assets/logout-icon.png" class="wt-30" alt="">
                  <p class="logout-text mt40">Are you sure you want to Logout ?</p>
                  <div class="button-block mt30">
                    <div class="text-center modal-button">
                      <a class="btn btn-common grey max-WT-120 mr5 yes" >Yes</a>
                      <a class="btn btn-common blue max-WT-120" data-dismiss="modal">No</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">

     $(document).on('click','.yes',function(){
     window.location.href = "/sessions/logout"

     });

</script>