<div class="info-box-block" align="left">
               <div class="row">
                   <div class="col-md-3 col-sm-6">
                       <div class="info-box ">
                         <fieldset class="global-fieldset bg-yellow">
                           <!-- <legend>Total Number of Users</legend> -->
                           <div class=" info-txt">
                                 <legend align="center">No. of  Tokenss</legend>
                                 <img src="/assets/user.png" align="center" height="100px" width="100px">
                                 <h4 align="right"><%= "1234" %></h4>
                                 <%= button_to "View Details",  dashboard_admin_admin_users_path ,method: :get,style: "margin-left: 34%;" %>                           </div>
                         </fieldset>
                       </div>
                   </div>
                   </div>
                   </div>
                   


                   <div class="info-box-block" style= "margin-top: 10%;">
                     <div class="row">
                   <div class="col-md-3 col-sm-6">
                       <div class="info-box ">
                         <fieldset class="global-fieldset bg-yellow">
                           <!-- <legend>Total Number of Users</legend> -->
                           <div class=" info-txt">
                                 <legend align="center">Verified Users</legend>
                                 <img src="/assets/user.png" align="center" height="100px" width="100px">
                                 <h4 align="right"><%= "1234" %></h4>
                                 <%= button_to "View Details",  dashboard_admin_admin_users_path ,method: :get,style: "margin-left: 34%;"  %>
                           </div>
                         </fieldset>
                       </div>
                   </div>
                   </div>
                   </div>

                   <style type="text/css">
                   .info-box-block{max-width:300px;margin:0 auto;}
                   .info-box legend{font-size:18px;}
                   h4{ font-size: 57px;margin: 20px 0px 10px;}h4 span{ padding-left: 20px;}
                    .info-box legend {    font-size: 24px;    margin: 10px 0;} 
                    h4 {
                       font-size: 57px;
                       margin: -80px 88px 10px;
                    }
                   </style>