<!DOCTYPE html>
<html>
<body>

<table border="">
  <tr>
    <th>Token Name</th>
    <th>T001</th> 
  </tr>
  <tr>
    <td>Coin name</td>
    <td>Credits</td>
  </tr>
  <tr>
    <td>Symbol</td>
    <td>xyz</td>
  </tr>
  <tr>
    <td>Token Standard</td>
    <td>ERC 20</td>
  </tr>
   <tr>
    <td>Currencies accepted</td>
    <td>ETH</td>
  </tr>
   <tr>
    <td>Total Tokens</td>
    <td>XYZ0</td>
  </tr>
</table>

<%= button_to "Back",  dashboard_admin_admin_users_path ,method: :get, class: "btn btn-block btn-login btn-orrange",style: "margin-left: 70%;margin-top: 3%;" %>

</body>
</html>
