<header>
    <nav class="d-flex align-items-center justify-content-end">
      <div class="logo mr-auto">
        <a href="index.html">
          <img src="/assets/logo.png" class="desktop-logo" alt="Logo"/>
          <img src="/assets/logo-mobile.png" class="mobile-logo" alt="Logo"/>
        </a>
      </div>
      <div class="menu ml-auto" id="menubox">
        <span class="close-menu" id="menuClose"></span>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/profile">My Profile</a></li>
          <li><a href="/users/buy_token">Buy</a></li>
          <li><a href="/users/buy_token">Exchange</a></li>
          <li><a href="#">White Papper</a></li>
          <li><a href="/static_contents/contact">Contact US</a></li>
        </ul>
      </div>
      <div class="login-box">
        <a href="#logoutModal" data-toggle="modal"  class="btn btn-logSign">Sign Out</a>
      </div>
      <a href="javascript:;" class="mob-menu" id="menuShow">
        <span class="menu-bar"></span>
      </a>
    </nav>
  </header>