<header>
    <nav class="d-flex align-items-center justify-content-end">
      <div class="logo mr-auto">
        <a href="index.html">
          <img src="/assets/logo.png" class="desktop-logo" alt="Logo"/>
          <img src="/assets/logo-mobile.png" class="mobile-logo" alt="Logo"/>
        </a>
      </div>
      <div class="menu ml-auto" id="menubox">
        <span class="close-menu" id="menuClose"></span>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">White Papper</a></li>
          <li><a href="#">Roadmap</a></li>
          <li><a href="#">Token</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
      <div class="login-box">
        <a href="#loginModal" data-toggle="modal" class="btn btn-logSign active">Sign In</a>
        <a href="#signupmodal" data-toggle="modal"  class="btn btn-logSign">Sign Up</a>
      </div>
      <a href="#" class="mob-menu" id="menuShow">
        <span class="menu-bar"></span>
      </a>
    </nav>
  </header>